body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3937fa;
    font-family: 'Quicksand', sans-serif !important;
}

input {
    background-color: #3937fa !important;
}

.input-box:focus {
    outline: none;
}

.location {
    font-size: 3rem;
}

.weather-img {
    height: 13rem;
    width: 13rem;
}

.loc-temp {
    font-size: 4rem;
    margin-bottom: 0px;
}

.weather-content {
    font-size: 2rem;
    color: #7abfff !important;
}

.hidden {
    display: none;
}

.error-img {
    width: 15rem;
    height: 15rem;
}


@media screen and (min-width:320px) {
    .input-box {
        width: 15rem;
        font-size: 1.4rem;
    }

    .icon {
        height: 2rem;
    }

    .weather-description {
        width: 17rem;
    }

    .error-img {
        width: 15rem;
        height: 15rem;
    }

    .error-font-size {
        font-size: 2rem; 
    }
}

@media screen and (min-width:425px) {
    .input-box {
        padding: 1rem;
        width: 18rem;
        font-size: 1.5rem;
    }

    .icon {
        height: 2.5rem;
    }

    .weather-description {
        width: 25rem;
    }

    .error-img {
        width: 20rem;
        height: 15rem;
    }

    .error-font-size {
        font-size: 2.5rem;
    }

}

@media screen and (min-width:768px) {
    .icon {
        height: 3rem;
    }

    .input-box {
        padding: 1rem;
        width: 25rem;
        font-size: 2rem;
    }

    input::placeholder {
        font-size: 2rem;
    }

    .weather-description {
        width: 30rem;
    }

    .error-img {
        width: 25rem;
        height: 20rem;
    }

    .error-font-size {
        font-size: 3rem;
    }
}